each historyItem, index in historyList
  title = historyItem.module.titleShort
  li(data-theme='d', data-index=index).historyItem
    a(href="#", data-index=index, style='vertical-align:middle')
      span(style='font-size:80%;color:#555555;')=historyItem.module.titleShort + " @ " + historyItem.dateTime
      span &nbsp;
      span(style='font-size:70%;color:darkblue;')=historyItem.label
      span(style='font-size:70%;color:#333333;padding:4px;')="="
      span(style='font-size:70%;color:darkgreen;font-weight:bold')=historyItem.result