label(for=id)
	span.fieldLabel=label+':'
textarea(
	class='fieldInput'
	maxlength=maxlength
	required=required
	data-id=id
	data-bind="valueUpdate: 'keyup', value: #{id}"
	data-mini='true'
	value=defaultValue
)